@using BusinessLogic.Interfaces;
@model AutoDto;

<div class="template">

    <div class="details">

        <div class="image">
            <img src="@Model.ImgURL">
        </div>

        <div class="info">
            <span class="titlename">@Model.Mark @Model.Model</span>
            <span class="price">@Model.Price</span>
            <span class="smth">Year release...................................................@Model.YearRelease</span>
            <span class="smth">Total speed...................................................@Model.Speed km/h</span>
        </div>

    </div>

    <div class="description">
        @Model.Description
    </div>

    <div class="btn-group">

        <a class="btn btn-dark">
            <i class="bi bi-info"></i>
        </a>

        <a class="btn btn-danger">
            <i class="bi bi-trash3-fill"></i>
        </a>
    </div>


</div>
