@model List<AutoDto>;

<div class="d-flex flex-wrap">
   @foreach (var i in Model)
   {
       <div class="showauto">
           <img src="@i.ImgURL" alt="">
           <span>
                @if(i.Model.Length > 15)
                {
                    string tmp = (i.Model.Substring(0, 6) + "...");

                    <p>@i.Mark @tmp (@i.YearRelease)</p>
                }
                else 
                {
                    <p>@i.Mark @i.Model (@i.YearRelease)</p>
                }
           </span>
           <p class="price">@i.Price $</p>
            <button>
                <a asp-action="Details" asp-controller="CarSalon" asp-route-id="@i.Id" asp-route-returnUrl="@Context.Request.Path">Learn more..</a>
            </button>
       </div>
   }
</div>
